body{
    overflow: hidden;
    animation-name: bodycol;
    animation-duration: 28S;
    background-color: 	#FFD700;
    animation-timing-function: linear;
}
@keyframes bodycol {
    25%{
        background-color: 	#FFD700;
    }
    50%{
        background-color: 	rgb(64, 110, 64);
    }
    75%{
        background-color: 	#7E481C;
    }
    100%{
        background-color: 	#FF8C00;
    }
}
  
.links img{
    width: 160px;
    float: left;
    position: relative;
    top: 30px;
    left: 150px;
}
.links ul{
    position: relative;
    left: 200px;
    top: 60px;
    list-style-type: none;
    display: inline;
}
.links li{
    padding-left: 70px;
    color: black;
    float: left;
    font-weight: bold;
    font-size: large;
}
button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 260px;
    font-weight: bold;
    font-size: large;
}
.paragraph{
    position: relative;
    top: 300px;
    width: 40%;
    float: left;
    color: white;
}
.paragraph h1{
    font-size: 50px;
    line-height: 10px;
}
.paragraph p{
    font-size: 22px;
}
.sip {
    animation-name: paragraphSip;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
}
.sip h1{
    font-size: 60px;
}
@keyframes paragraphSip{
    40%{
        transform: scale(0.4);
        color: white;
    }
    50%{
        transform: scale(0.8);
    }
    55%{
        transform: scale(1);
        color: #FFD700;
    }
    59%{
        color: orange;
    }
    100%{
        transform: translateX(450px);
        color: green;
    }
}
.images img{
    position: absolute;
    top: 250px;
    left: 55%;
    transform: scale(0);
    width: 150px;
}
.apple{
    z-index: 3;
    animation-name: appleimg;
    animation-duration: 6s;
    transition: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes appleimg {
    10%{
        transform: scale(0.5) rotate(20deg);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: translateX(400px);
    }
}
.orange{
    z-index: 2;
    animation-name: orangeimg;
    animation-duration: 13s;
    animation-timing-function: linear;
    transition: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes orangeimg {
    10%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.8) rotate(20deg);
    }
    98%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(230px);
    }
}
.tropical{
    z-index: 1;
    animation-name: tropicalimg;
    animation-duration: 20s;
    animation-timing-function: linear;
    transition: 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
@keyframes tropicalimg {
    10%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.8) rotate(20deg);
    }
    98%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(60px);
    }
}